body {
	background-color: #f4f4f4;
}
h1 {
	font-size: 30px;
}
.clear {
    clear: both;
}
.center {
  text-align: center;
}
.line {
    height: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.body-box {
	border: 1px #ccc solid;
}
.bg-f {
	background-color: #fff;
}
.body-box {
	padding: 20px;
}
footer {
	line-height: 2;
	font-size: 14px;
	padding: 20px;
}